.navbar-brand {
    font-family: 'Lobster Two', cursive;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    margin-top: 20%;
    text-align: center;
}

.card-text {
    font-family: 'Borel', cursive;
    margin: auto;
    text-align: center;
    width: 70%;
}

.hero-link {
    margin-left: 45%;
    margin-top: 40px;
    width: 170px;
}

.col {
    height: 500px;
}

.col-head {
    font-family: 'Lugrasimo', cursive;
    font-size: 150%;
}

.col-txt {
    justify-content: center;
    margin: auto;
    width: 70%;
}

.row img {
    box-shadow: 10px 10px 1px wheat;
    width: 340px;
}

.card-text2 {
    color: black;
    font-family: 'Borel', cursive;
    margin: auto;
    margin-top: 30%;
    width: 30%;
}

.carousel {
    background-color: black;
}

.carousel-inner {
    margin: auto;
    width: 60%;
}

.car-hd {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 200%;
    text-shadow: 5px 5px 2px black;
}

.car-txt {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.carousel-control-prev {
    background-color: lightgray;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 50px;
    height: 50px;
    margin-left: 8%;
    margin-top: 18%;
    width: 50px;
}

.carousel-control-next {
    background-color: lightgray;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 50px;
    height: 50px;
    margin-right: 8%;
    margin-top: 18%;
    width: 50px;
}

.contact {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 60%;
}

.contact-head {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin-bottom: 30px;
}